@font-face {
    font-family: TTNormsPro;
    src:local('../fonts/test.otf');
    
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    background-color: rgb(73, 18, 246);
    color: white;
    font-family: 'TTNormsPro';
    
}