/* 3/12/24
Zack Laine
Assignment 1 */

body {
    margin: 0;
    margin-left: 3%;

    background-color: rgb(73, 18, 246);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
a:visited{
    color: white;
}
.header{
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 0 80px 0;
}
.header-item{
    display:flex;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-item{
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
}
.content-item-sub{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.headline-1{
    font-size: 13px;
}
.headline-2{
    font-size: 15px;
    font-weight: bold;
}
.headline-3{
    font-size: 12px;
    font-weight: bold;
}
input[type='button']{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 10px;
    border:0px;
    border-radius: 30px;
    color: white;
    background-color: orange;
}


#logo{
    flex-grow: 30; 
}
#sign-in{
    flex-grow: 1;
}
#try-free{
    flex-grow: 8;
}
#main-content{
    margin-inline: 10%;
}
#left-column{
    margin-right: 20px;
}
#right-column{
    margin-left: 20px;
}